<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Auth-Material</span>
    <span class="example-spacer"></span>

    <button mat-button *ngIf="isLogin$ | async; else login" (click)="signOut()">
      Sign Out
    </button>
    <ng-template #login>
      <button mat-button routerLink="/login">
        Sign In
      </button>
      <button mat-button routerLink="/register">
        Register
      </button>
    </ng-template>

    <!-- <button mat-button
    routerLink="/home"
    *ngIf="!isLogin()"
    >
    Sign Out
  </button> -->
  </mat-toolbar-row>
</mat-toolbar>
